<html>
    <head>
        {{^DEFOLD_SCALE_MODE_IS_NO_SCALE}}
        <style type="text/css">
            body {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        </style>
        {{/DEFOLD_SCALE_MODE_IS_NO_SCALE}} {{#project.title}}
        <meta name="og:title" content="{{project.title}}" />
        {{/project.title}} {{#spellsync.description}}
        <meta name="description" content="{{spellsync.description}}" />
        <meta name="og:description" content="{{spellsync.description}}" />
        {{/spellsync.description}} {{#spellsync.image}}
        <meta name="og:image" content="{{spellsync.image}}" />
        {{/spellsync.image}}
        <script
            async
            src="https://s3.spellsync.com/sdk/spellsync.js?projectId={{spellsync.id}}&publicToken={{spellsync.token}}&callback=onSSInit"
        ></script>
        <script type="text/javascript">
            window.SpellSyncConfig = {
                projectId: Number("{{spellsync.id}}"),
                publicToken: "{{spellsync.token}}",
                onReady: (ss) => {
                    function init(ss, result) {
                        if (window.SpellSyncLib !== undefined && window.SpellSyncLib.init !== undefined) {
                            window.SpellSyncLib.init(ss, result);
                        } else {
                            window.SpellSyncInstance = ss;
                            window.SpellSyncInit = result;
                        }
                    }

                    ss.player.ready
                        .then(() => init(ss, true))
                        .catch(() => init((ss, false)));
                }
            };
        </script>
    </head>
</html>
